<div class="main">
  <div class="main__content" [ngStyle]="{ 'justify-content': uploadedFile ? 'flex-start' : 'center' }">
    <div class="main__content__card">
      @if ( !uploadedFile ){
      <p-fileUpload name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="false" accept="image/*,application/pdf" maxFileSize="50000000" (onUpload)="onTemplatedUpload()" (onSelect)="onSelectedFiles($event)">
        <ng-template pTemplate="header" let-files let-uploadedFiles="uploadedFiles" let-chooseCallback="chooseCallback" let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
          <div class="main__content__card__header">
            <div class="main__content__card__header--buttons">
              <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-images" [rounded]="true" [outlined]="true" [disabled]="uploadedFiles?.length > 0" />
              <p-button (onClick)="uploadEvent(uploadCallback)" icon="pi pi-cloud-upload" [rounded]="true" [outlined]="true" severity="success" [disabled]="!files || files.length === 0 || uploadedFiles?.length > 0" />
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="content" let-files let-uploadedFiles="uploadedFiles" let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">
          @if (files?.length > 0) {
          <div>
            <h5 style="margin-top: 0">Pending</h5>
            <div class="main__content__card__info">
              @for ( file of files; track $index) {
              <div class="main__content__card__info--item">
                <span class="font-semibold" style="font-weight: 600">{{ file.name }}</span>
                <div>{{ formatSize(file.size) }}</div>
                <p-badge value="Pending" severity="warning" />
                <p-button icon="pi pi-times" (click)="onRemoveTemplatingFile($event, file, removeFileCallback, $index)" [outlined]="true" [rounded]="true" severity="danger" />
              </div>
              }
            </div>
          </div>
          } @else if (uploadedFiles?.length > 0) {
          <div>
            <h5 style="margin-top: 0">Completed</h5>
            <div class="main__content__card__info">
              @for ( file of uploadedFiles; track $index) {
              <div class="main__content__card__info--item">
                <span class="font-semibold" style="font-weight: 600">{{ file.name }}</span>
                <div>{{ formatSize(file.size) }}</div>
                <p-badge value="Completed" severity="success" />
                <p-button icon="pi pi-times" (onClick)="removeUploadedFileCallback($index)" [outlined]="true" [rounded]="true" severity="danger" />
              </div>
              }
            </div>
          </div>
          }
        </ng-template>

        <ng-template pTemplate="file"> </ng-template>

        <ng-template pTemplate="empty">
          <div class="flex align-items-center justify-content-center flex-column" style="display: flex; align-items: center; justify-content: center; flex-direction: column">
            <i class="pi pi-cloud-upload border-2 border-circle p-5 text-8xl text-400 border-400" style="border: 2px solid #e0e0e0; border-radius: 50%; padding: 1.6rem; font-size: 4rem; color: #e0e0e0; font-weight: 400"></i>
            <p class="mt-4 mb-0" style="margin-top: 1.6rem; margin-bottom: 0rem">Drag and drop files to here to upload.</p>
          </div>
        </ng-template>
      </p-fileUpload>
      } @else {
      <h3 style="margin-bottom: 15px">Uploaded File</h3>

      <div class="main__content__card__info--item">
        <span class="font-semibold" style="font-weight: 600">{{ uploadedFile.name }}</span>
        <div>{{ formatSize(uploadedFile.size) }}</div>
        <p-badge value="Completed" severity="success" />
        <p-button icon="pi pi-times" [outlined]="true" [rounded]="true" severity="danger" />
      </div>
      }
    </div>

    @if (isMiningLoading || minningResult || miningError) {
    <div class="main__content__card" style="max-height: calc(100dvh - 277px); height: 100%; margin: 0">
      @if (isMiningLoading) {
      <div class="main__content__card__skeleton">
        <p-skeleton width="100%" />
        <p-skeleton width="100%" />
        <p-skeleton width="100%" />
        <p-skeleton width="100%" />
        <p-skeleton width="100%" />
        <p-skeleton width="100%" />
        <p-skeleton width="100%" />
      </div>
      } @if(minningResult) {
      <h3 style="margin-bottom: 15px">Text mining response</h3>
      <div [innerHTML]="minningResult"></div>
      } @if ( miningError ) {
      <div class="main__content__card__error">
        <p-badge value="Error" severity="danger" />
        <p class="mt-4 mb-0" style="margin-top: 1.6rem; margin-bottom: 0rem">{{ miningError }}</p>
      </div>
      }
    </div>
    }
  </div>
</div>

<p-toast position="bottom-right" key="br" />
